<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>San Francisco Analytical Policing</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="san francisco Analytical policing" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style-xlarge.css') }}" />
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
		<!--[if lte IE 8]><link rel="stylesehet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1 style="color: white; <!-- font-weight: bold; -->">SF Analytical Policing</h1>
				<nav id="nav">
					<ul style="color: white; <!-- font-weight: bold; -->">
						<!-- <li><a href="index.html">Home</a></li> -->
						<li><a href="#learn">What is Analytical Policing?</a></li>
						<li><a href="search_main">Getting Started</a></li>
						<li><a href="#data">Features of Our Data</a></li>
						<li><a href="about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2 id="Home" style="color: white; <!-- font-weight: bold; -->">San Francisco Analytical Policing</h2>
				<p style="color: white; font-weight: bold;"><i>Know where crime strikes before it happens.</i></p>
				<ul class="actions">
					<li>
						<a href="#learn" class="button big" style="font-weight: bold;">Learn More</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2 style="color: white; font-weight: bold;">Know when crime strikes</h2>
						<p>Use San Francisco's Analytical Policing to find and report crime alerts in the San Francisco Bay Area. Reports are submitted by the people for the people to know when crimes happen.</p>
					</header>
					<div class="row 200%">
						<section class="4u 12u$(small)">
							<img src="{{ url_for('static', filename='images/Search-128.png') }}" width="125px" alt="search">
							<p><br>View information on the latest criminal activity in the Bay Area. Find out if your neighborhood is at risk!</p>
						</section>
						<section class="4u 12u$(small)">
							<img src="{{ url_for('static', filename='images/Check-128.png') }}" width="125px" alt="check">
							<p><br>Community leaders can use our platform to pinpoint specific issues in their neighborhoods and start a dialogue with police on how to fix those issues.</p>
						</section>
						<section class="4u$ 12u$(small)">
							<img src="{{ url_for('static', filename='images/Policeman-128.png') }}" width="125px" alt="Police">
							<!--<i class="icon big rounded fa-user"></i>-->
							<p><br>If you are a law enforcement member, help improve our prediction system by contributing new data as it comes in.</p>
						</section>
					</div>
				</div>
			</section>


			<section id="two" class="wrapper style2 align-left">
				<div class="container">
					<a name="learn"></a>

					<header>
						<h2><b>What is SF Analytical Policing?</b></h2>
						<p>Analytical Policing for the San Francisco Bay Area provides law enforcement and the community with innovative methods of increasing awareness of daily crime occurrences while helping to decrease crime. Through a detailed database, law enforcement can extract crime trends in order to better predict and stop criminal activity. Our data is unique to San Francisco, and continues to grow with our authorized guest's crime reports. As individuals report crimes directly through our Analytical Policing program, we can monitor crimes that take place all throughout the San Francisco Bay Area. To report a crime, please go to Report a Crime. If you have any questions pertaining to Analytical Policing, please feel free to contact us as well!</p>
					</header>

					<header>
						<h2><b>What is Analytical Policing?</b></h2>
						<p><i>Analytical policing</i> is an innovative technique used in law enforcement in order to anticipate incidents of crime. Through mathematical and statistical perspectives, Analytical policing is an effective and proven method to identify criminal activity, identities and tendencies of offenders, and that of their victims. In recent years, analytical policing has been successfully implemented into various departments across the United States. Along with its contributions in decreasing crime, analytical policing has been instrumental in creating stronger relationships between law enforcement and the community in stopping and resolving crime.  </p>
						<img src="{{ url_for('static', filename='images/MPS_22022012_1049.jpg') }}" width="100%" alt="Police Meeting">

					</header>

					<header>
						<h2><b>Analytical Policing by the Numbers</b></h2>
						
						<p>
						
						<i>Read how analytical policing has been effective in stopping crime.</i>
						
						<table style="font-size: 22px">
							<tr>
								<td>In 2013, Richmond Police Department experienced <b><i style="font-size: 28px; color: #8c6699;">the lowest rate in property crime since 2011</b></i> through utilizing analytical policing strategies</td>
								<td>Declared one of the top inventions of 2011 by <a href="http://www.mercurynews.com/breaking-news/ci_19400300"><b><i style="font-size: 28px; color: #8f8f24;">Times Magazine</i></b></a></td>
							</tr>
							<tr>
								<td>Named the most effective strategy used to reduce crime in the United States by <b style="font-size: 28px; color: #5a8b8b;">Chief of Police and Executive Director of Police Services Kenneth Cop</b></td>
								<td>In every other police district not utilizing analytical policing strategies, all types of crime increased by <b><i style="font-size: 28px; color: #24248f;">5%</i></b></td>
							</tr>
							<tr>
								<td><i><b style="font-size: 28px; color: #248f24;">15% drop</b></i> in vehicle theft seen by South San Francisco Police Department</td>
								<td><i><b style="font-size: 28px; color: #996666;">Reduction of approximately 20%</i></b> in violent assaults seen by Ingleside Police Department in 2013</td>
							</tr>
						</table>
						<img src="{{ url_for('static', filename='images/police.jpg') }}" width="100%" alt="Police Press">

						</p>
					</header>
				</div>
				</section>

				<section id="three" class="wrapper style3 align-left">
					<div class="container">
					<a name="data"></a>
					<header>
						<h2><b style="<!-- color: white;  -->font-weight: bold;">Features of Our Data</b></h2>

						<p>

						<i style="<!-- color: white; --> font-weight: bold;">12 years of crimes recorded and detailed for the San Francisco Bay Area</i>

						<br><br>

						Our data is enhanced to include every aspect of crime, from law enforcement demographics to suspect demographics, in addition to crime locations and times. Every detail contributes to a more accurate picture of the occurrences of crime committed in San Francisco, leading to a more successful and effective analytical policing strategy, and a safer community.

						<br><br>

						<b style="<!-- color: white; --> font-weight: bold;">Behind the Data</b>

						<br><br>

						The data set we have provided is based on real data managed by <a href="https://data.sfgov.org/" style="<!-- color: white -->">SFOpenData</a> and hosted online by <a href="https://www.kaggle.com/c/sf-crime" style="<!-- color: white -->">Kaggle</a>. Additional details and data patterns have been injected, and are based off of real crime demographics. For instance, demographics of race, gender, and age refer to data collected by the FBI. Take a peek at the resources and statistics we referenced in building our data:

						<ul style="font-size:20px">
							<li>Offender demographics of race and gender were influenced by data collected by the <a href="https://www.fbi.gov/about-us/cjis/ucr/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/tables/table-43">FBI</a></li>
							<li>In San Francisco, law enforcement is comprised of roughly 85% male and 15% female. Most officers are white, comprising 60% of the police force. Hispanics and Asians make up approximately 13% each, African Americans make up 10%, and other races, those including Native Americans and Asian or Pacific Islanders, make up the rest. We've obtain these numbers thanks to the <a href="http://www.bjs.gov/content/pub/pdf/lemas00.pdf">U.S. Department of Justice, Bureau of Justice Statistics</a>, in their Law Enforcement Management and Administrative Statistics report.

							<br><br>
														
							<b> Officer Gender </b>
							<div class="progress">
								<div class="progress-bar" style="width: 85%; background-color: #5a8b8b;">
									Officer Male
								</div>
								<div class="progress-bar" style="width: 15%; background-color: #93b9b9;">
									Officer Female
								</div>
							</div>

							<b <!-- style="color: white;" -->> Officer Ethnicity </b>
							<div class="progress">
								<div class="progress-bar" style="width: 60%; background-color: #996666;">
									White
								</div>
								<div class="progress-bar" style="width: 13%; background-color: #998066;">
									Hispanic/Latino
								</div>
								<div class="progress-bar" style="width: 13%; background-color: #8c9966;">
									Asian
								</div>
								<div class="progress-bar" style="width: 10%; background-color: #669980;">
									African American
								</div>
								<div class="progress-bar" style="width: 3%; background-color: #667f99;">
									<!-- Pacific Islander -->
								</div>
								<div class="progress-bar" style="width: 1%; background-color: #8c6699;">
									<!-- Native American -->
								</div>
							</div>
							<br>
							
							</li>

							<li>Gender demographics for criminal suspects also follow a similar trend. Roughly 90% offenders are male and 10% are female.</li>
							<li>The <a href ="http://nyagv.org/wp-content/uploads/2013/05/Accidental-Shootings-NYAGV.pdf" <!-- style="color: white -->">NYAGV</a> reported of accidental shootings that "the majority of people killed in firearm accidents are under age 24, and most of these young people are being shot by someone else, usually someone their own age."</li>
						</ul>

						</p>
					</header>
				</div>
			</section

			<section id="four" class="wrapper style2 align-left">
				<div class="container">
					<footer>
						<br><br><br><br>

						<h2><b>Thank You to Our Partners and Sponsors</b></h2>

						<table style="text-align: center; vertical-align: middle;">
							<tr>
								<td><img src="{{ url_for('static', filename='images/kaggle-logo.png') }}" width="150px" alt="kaggle"></td>
								<td><img src="{{ url_for('static', filename='images/Logo_Ubuntu.png') }}" width="200px" alt="ubuntu"></td>
								<td><img src="{{ url_for('static', filename='images/MySQL.png') }}" width="150px" alt="mysql"></td>
								<td><img src="{{ url_for('static', filename='images/bbc-logo.jpg') }}" width="150px" alt="bbc"></td>
							</tr>
							<tr>
								<td><img src="{{ url_for('static', filename='images/rutgers-logo.jpg') }}" width="200px" alt="rutgers"></td>
								<td><img src="{{ url_for('static', filename='images/aws-logo.png') }}" width="200px" alt="aws"></td>
								<td><img src="{{ url_for('static', filename='images/fbi-seal.png') }}" width="100px" alt="fbi"></td>
								<td><img src="{{ url_for('static', filename='images/google-logo.jpg') }}" width="150px" alt="google"></td>
							</tr>
						</table>

						<br><br><br><br>

					</footer>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<section class="4u 6u(medium) 12u$(small)">

							<a name="contact"></a>

							<h3>We're Hiring!</h3>
							<p>We're currently looking for driven, creative professionals to join our dynamic, fast-paced work environment. We are currently taking applications for intern and full-time positions.</p>
							<h3><a href="#">Apply Now</a></h3>
						</section>
						<section class="4u 6u$(medium) 12u$(small)">
							<h3>Subscribe</h3>
							<p>Stay connected with SF Analytical Policing for any of our latest crime reports and updates. Be the first to know of our latest updates.</p>
							<h3><a href="#">Join Our Mailing List</a></h3>
						</section>
						<section class="4u$ 12u$(medium) 12u$(small)">
							<h3>Contact Us</h3>
							<ul class="icons">
								<li><a href="https://twitter.com/"> <img src="{{ url_for('static', filename='images/Twitter round.png') }}" width="50px" alt="google"></a></li>
								<li><a href="https://www.facebook.com/"> <img src="{{ url_for('static', filename='images/Facebook Round.png') }}" width="50px" alt="google"></a></li>
								<li><a href="https://www.pinterest.com/"> <img src="{{ url_for('static', filename='images/Pinterest round.png') }}" width="50px" alt="google"></a></li>
								<li><a href="https://www.linkedin.com/"> <img src="{{ url_for('static', filename='images/Linkedin round.png') }}" width="50px" alt="google"></a></li>
								<li><a href="https://plus.google.com/"> <img src="{{ url_for('static', filename='images/Google plus round.png') }}" width="50px" alt="google"></a></li>
							</ul>
							<ul class="tabular">
								<li>
									<h3>Address</h3>
									SF Analytical Policing<br>
									926 Howard St<br>
									San Francisco, CA 94103
								</li>
								<li>
									<h3>Mail</h3>
									<a href="#">dreamteam@sfpp.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									415 . 274 . 9161
								</li>
							</ul>
						</section>
					</div>
					<ul class="copyright">
						<li>&copy; SF Analytical Policing Inc. All rights reserved. Copyright 2015</li>
						<br><br>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>