{% extends "layout.html" %}
{% block doc_title %} Time Series {% endblock %}
{% block title %} Time Series {% endblock %}
{% block tagline %} Graph Versus Time {% endblock %}
{% block main %}
	
	<h2 style="text-align: center; <!-- font-weight: bold; -->">Time Series Search</h2>

	<p align="middle" style="font-size: 20px; line-height: 130%">Making a search is easy. Simply enter a field using our drop-down menus to input your inquiry, and watch as we provide you with your answer!

	<br><br>

	<b style="color: white;">How to Use this Search</b>: Enter a field to analyze. For instance, say we want to find out the frequency of different types of crime over the course of a day. We can input "Category" in the first drop-down menu, and we can select a time period from the second drop-down menu. With this scheme, analyzing features over time is a breeze!
	</p>


	<div class="wrapper align-center">
	<form display:"inline" method="post" action="{{ url_for('time_series_results') }}" class="form-inline">

		<label for="param_1"><font size="7"><b>Analyze</b></font> </label>
		<select class="form-control" name="param_1" width="200px;" align="middle">
			<option>Category</option>
			<option>Description</option>
			<option>Day of the Week</option>
			<option>Police Department District</option>
			<option>Resolution</option>
			<option>Address</option>
		</select>
		<label for="param_2"><font size="7"><b>over</b></font> </label>
		<select class="form-control" name="param_2" width="200px;" align="middle">
			<option>Hours</option>
			<option>Days</option>
			<option>Months</option>
			<option>Years</option>
		</select>


		<footer class="wrapper align-center">
			<ul class="actions">
				<li>
					<!-- <a href="{{ url_for('time_series_results') }}" class="button alt big"><b>Submit</b></a> -->
					<button type="submit" class="button alt big">Submit</button>
				</li>
			</ul>
		</footer>
	</form>
	</div>
	
{% endblock %}
